{% extends "base.html" %}

{% block title %}Delete Message{% endblock title %}

{% block page_content %}

<h3>Gästebuch: Nachricht editieren</h3>

<form method="post">
    <p><strong>Nachricht editieren</strong></p>

    <p><strong>Name:</strong> {{ message.author_name }}</p>

    <p><strong>Email:</strong> {{ message.email }}</p>

    <p><textarea name="message" rows="10" cols="80">{{ message.message }}</textarea></p>

    <button type="submit">Speichern</button>

</form>

{% endblock page_content %}